# Created by .ignore support plugin (hsz.mobi)
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml
*.ipr
*.iws
.idea/
*.class
# Package Files #
*.jar
*.war
*.ear
target/
.idea/*
*/target
.DS_Store
logs
build/
*/build
*.project
*.classpath
.settings/*
*/.settings/*
*.log
*.zip
*.tmp

fabirc8/
spring-boot-thymeleaf/src/test/
springboot/dubbo-api/
springboot/dubbo-client/
springboot/dubbo-server/
springboot/spring-boot-es/src/test/
springboot/spring-boot-jpa/
springboot/spring-boot-redis/src/test/
springboot/springrestdoc/
springboot/swaggertest/
springclouddemo/
