<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
    <!--<footer th:fragment="footer">-->
        <!--<span>&copy; 2016 - 2017</span>-->
        <!--<span class="pull-right">-->
                          <!--想象科技-->
            <!--</span>-->
    <!--</footer>-->
    <footer th:fragment="copyright">
        © 2017 想象科技
    </footer>
</body>
</html>

